@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Roboto&family=Montserrat&family=Silkscreen:wght@700&display=swap');

/* ------- global ------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  min-height: 100%;
  position: relative;
}

body {
  background-color: rgb(49, 48, 51);
  line-height: 1.6;
  /* footer support */
  margin-bottom: 100px;
}

a {
  color: aliceblue;
}

a:hover {
  color: rgb(212, 212, 212);
}

.section-contents {
  margin: auto;
  max-width: 1000px;
  padding: 20px;
}

/* ------- header ------ */
header {
  background-color: rgb(36, 35, 37);
  display: flex;
  justify-content: center;
  padding: 50px 0px;
}

.title {
  color: aliceblue;
  font-family: 'Silkscreen', cursive;
  font-size: 32px;
}

/* ---- main content ---- */
main {
  margin-top: 40px;
}

/* ---- calculator ---- */
.calc-container {
  background-color:rgb(94, 94, 94);
  max-width: 400px;
  margin: auto;
  padding: 10px;
  border-radius: 20px;
}

.row {
  width: 100%;
  margin-bottom: 4px;
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
}

input[type="button"] {
  background-color: rgb(222, 224, 222);
  border: 0;
  border-bottom: 3px solid rgb(51, 51, 51);
  border-radius: 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: bold;
  padding: 20px 30px;
  flex: 0 1 100%;
  border-radius: 10px;
}

input[type="button"]:hover {
  background-color: rgb(239, 243, 239);
  transform: translateY(1px);
  border-bottom: 2px solid rgb(51, 51, 51);
}

input[type="text"] {
  background-color: rgb(44, 44, 44);
  border: none;
  border-radius: 10px;
  color: rgb(248, 170, 106);
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  width: 100%;
  text-align: right;
  letter-spacing: 2px;
}

input[type="text"]:focus {
  outline: none;
}

input[type="button"].operators {
  background-color: rgb(173, 182, 182);
}

input[type="button"].operators:hover {
  background-color: rgb(165, 172, 172);
}

input[type="button"].equals {
  background-color: rgb(248, 170, 106);
}

input[type="button"].clear {
  background-color: rgb(206, 162, 145);
}

/* ------- footer ------- */
footer {
  align-items: center;
  background-color: rgb(36, 35, 37);
  bottom: 0;
  color: aliceblue;
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  gap: 10px;
  justify-content: center;
  left: 0;
  padding: 10px;
  position: absolute;
  width: 100%;
}